.pointer {
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--text-color);
}

.icon:hover {
  background-color: var(--hover-color-icon);
}
.padding-top-bottom-1rem{
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}
.text-align-left{
  text-align: left;
}
.border-bottom{
  
}
.flex{
  display: flex;
  gap: 1rem;
}